<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Tracks and Workshops - SciPyLA 2017 - The scientific Python conference in Latin America">
    <meta name="author" content="The SciPyLA community">
    <link rel="icon" href="../favicon.ico">

    <title>SciPyLA 2017 - Tracks and Workshops </title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- SciPyLA Bootstrap theme -->
    <link href="../assets/css/theme.css" rel="stylesheet">

    <!-- Icons -->
    <link href="../assets/css/fonts.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Yanone+Kaffeesatz" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="scipyla.tracks">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse text-uppercase">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="../assets/img/scipyla.nav.svg" class="hidden-xs" height="48"/>
            <img src="../assets/img/scipyla.nav.xs.svg" height="60" class="visible-xs" height="60"/>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../index.html#about">Acerca de SciPyLA</a></li>
                <li><a href="../index.html#venue">Sede</a></li>
                <li><a href="../index.html#org">Organizaci&oacute;n</a></li>
                <li><a href="../index.html#timeline">Actividades por año</a></li>
                <li><a href="../index.html#gallery">Galer&iacute;a</a></li>
                <li><a href="../index.html#traction">Audiencia</a></li>
                <li><a href="../index.html#signup">Reservar tickets</a></li>
                <li><a href="../index.html#contact">Contacto</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="../#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Programa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../register">Reservar tickets</a></li>
                <li><a href="../schedule">Agenda de actividades</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Talleres</li>
                <li><a href="bio">Bioinform&aacute;tica</a></li>
                <li><a href="physics">F&iacute;sica</a></li>
                <li><a href="elect">Ingenier&iacute;a Électrica y Automatizaci&oacute;n</a></li>
                <li><a href="econ">Econom&iacute;a e Investigaci&oacute;n de Operaciones</a></li>
                <li><a href="tech">Tecnolog&iacute;as de c&oacute;mputo emergentes</a></li>
                <li><a href="earth">Ciencias de la Tierra</a></li>
                <li><a href="social">Ciencias Sociales y Humanidades</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="../forms/reviewers">Llamado a revisores acad&eacute;micos</a>
                <li><a href="../forms/poster">Env&iacute;o de posters</a></li>
                <li><a href="../forms/activity">Propuestas de charlas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="../#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Comunidad <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../organizers">Organizadores</a></li>
                <li><a href="../sponsors">Patrocinadores</a></li>
                <li><a href="../sponsors/prospectus">Prospecto de patrocinio</a></li>
                <li><a href="../sponsors/levels">Niveles de patrocinio</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="../ambassadors">Embajadores</a></li>
                <li>
                  <a href="../forms/ambassadors">
                    Llamado a embajadores
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="../community">Amigos de SciPyLA 2017</a></li>
                <li>
                  <a href="../forms/community">
                    Anuncia tu comunidad
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="../#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Participa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../register">Reservar tickets</a></li>
                <li><a href="../forms/financial-aid">Ayuda financiera</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="../forms/reviewers">Llamado a revisores acad&eacute;micos</a></li>
                <li><a href="../forms/poster">Env&iacute;o de posters</a></li>
                <li><a href="../forms/activity">Propuestas de charlas</a></li>
                <li><a href="../forms/activity">Propuestas de meetups</a></li>
                <li><a href="../forms/activity">Proyectos para sprints</a></li>
                <li><a href="../forms/activity">Propuestas de talleres</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="../diversity">Diversidad</a></li>
                <li><a href="../coc">C&oacute;digo de Conducta</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="../forms/joinus">&Uacute;nete al Equipo</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="../#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sede <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../venue#info">Informaci&oacute;n de la sede</a></li>
                <li><a href="../venue#lodging">Hospedaje</a></li>
                <li><a href="../venue#city">Ciudad</a></li>
                <li><a href="../visa">VISA</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <h2 class="text-center"> PROGRAMA DE LA CONFERENCIA <br/>
        <small>Talleres Latinoam&eacute;ricanos sobre el uso de Python en:</small>
      </h2>
      <div class="row visible-xs round-menu">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="bg-grey media">
            <a type="button" data-toggle="modal" data-target="#track-modal" data-track="bio">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-36"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading"> BIOINFORM&Aacute;TICA </h4>
              </div>
            </a>
          </div>
          <div class="bg-grey media">
            <a data-toggle="modal" data-target="#track-modal" data-track="physics">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-37"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading"> F&Iacute;SICA </h4>
              </div>
            </a>
          </div>
          <div class="bg-grey media">
            <a data-toggle="modal" data-target="#track-modal" data-track="elect">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-38"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">El&eacute;ctrica y Autom&aacute;tica</h4>
              </div>
            </a>
          </div>
          <div class="bg-grey media">
            <a class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="econ">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-39"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase" class="text-uppercase"> Econom&iacute;a </h4>
              </div>
            </a>
          </div>
          <div class="bg-grey media">
            <a data-toggle="modal" data-target="#track-modal" data-track="tech">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-40"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase"> Tecnolog&iacute;as Emergentes </h4>
              </div>
            </a>
          </div>
          <div class="bg-grey media">
            <a data-toggle="modal" data-target="#track-modal" data-track="earth">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-41"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase"> Ciencias de la Tierra </h4>
              </div>
            </a>
          </div>
          <div class="bg-grey media">
            <a data-toggle="modal" data-target="#track-modal" data-track="social">
              <div class="media-left">
                <div class="btn-round btn-social track-icon btn-warning">
                  <span class="icon-42"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase"> Ciencias Sociales y Humanidades </h4>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row hidden-xs">
        <div class="col-md-8 col-md-offset-2">
          <ul class="media-list">
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-36"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">Bioinform&aacute;tica</h4>
                <p>SciPyLA 2017 ser&aacute; la ocasi&oacute;n para explorar oportunidades de
                innovaci&oacute;n y conexi&oacute;n con la industria biotecnol&oacute;gica. Cuba destaca dados sus
                893 permisos comerciales registrados en m&aacute;s de 50 pa&iacute;ses. Conozca de primera
                mano c&oacute;mo la biotecnolog&iacute;a se abre camino en la regi&oacute;n.
                <button type="button" class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="bio">Leer m&aacute;s</button></p>
              </div>
            </li>
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-37"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">F&iacute;sica</h4>
                <p>En el taller se discutir&aacute;n los resultados m&aacute;s relevantes de los centros de
                investigaciones f&iacute;sicas de una regi&oacute;n que cuenta con m&aacute;s de 15,000
                profesionales. La asistencia de pa&iacute;ses menos desarrollados contribuir&aacute; a
                reducir las brechas en t&eacute;rminos de educaci&oacute;n e investigaci&oacute;n.
                <button class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="physics">Leer m&aacute;s</button></p>
              </div>
            </li>
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-40"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">Ingenier&iacute;a El&eacute;ctrica y Autom&aacute;tica</h4>
                <p>Investigadores y emprendedores se reunir&aacute;n en La Habana para
                debatir acerca del potencial de la rob&oacute;tica, la inteligencia
                artificial y la ingenier&iacute;a el&eacute;ctrica para implementar aplicaciones
                disruptivas, explicando c&oacute;mo Python permiti&oacute; obtener una ventaja
                competitiva.
                <button class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="elect">Leer m&aacute;s</button></p>
              </div>
            </li>
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-38"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">Econom&iacute;a e Investigaci&oacute;n de Operaciones</h4>
                <p>La industria financiera, pagos online y puertos a lo largo de m&aacute;s
                de 200,000 km de costas presentan varios desaf&iacute;os a los
                investigadores. Expertos presentar&aacute;n diferentes usos de herramientas
                hechas con Python para ayudar con el crecimiento econ&oacute;mico de empresas
                con caracter&iacute;sticas diversas.
                <button class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="econ">Leer m&aacute;s</button></p>
              </div>
            </li>
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-39"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">Tecnolog&iacute;as Emergentes de C&oacute;mputo</h4>
                <p>La ciencia y Python ofrecen respuestas a iniciativas regionales
                que aprovechan oportunidades generadas por m&aacute;s de 689 millones de
                cuentas m&oacute;viles, 50 millones de consumidores activos, y un mercado de
                IoT estimado en $15.6 mil millones y 800 millones de dispositivos conectados.
                <button class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="tech">Leer m&aacute;s</button></p>
              </div>
            </li>
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-41"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">Ciencias de la Tierra</h4>
                <p>Las Ciencias de la Tierra son esenciales para mitigar el impacto
                de desastres, del cambio clim&aacute;tico y para una prospecci&oacute;n y
                explotaci&oacute;n responsable de los recursos. Se impone la b&uacute;squeda de un
                equilibrio entre las sociedades de consumo y la preservaci&oacute;n de los ecosistemas.
                <button class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="earth">Leer m&aacute;s</button></p>
              </div>
            </li>
            <li class="media">
              <div class="media-left media-middle">
                <div class="btn-round btn-social-lg track-icon btn-warning">
                  <span class="icon-42"></span>
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading text-uppercase">Ciencias Sociales y Humanidades</h4>
                <p>Las 670 etnias latinoamericanas conforman la poblaci&oacute;n de Internet
                de mayor crecimiento en el mundo. Paneles de expertos analizar&aacute;n
                tendencias regionales en temas como ciudades inteligentes, contenidos
                pluri-culturales, datos abiertos, e-comunidades y redes sociales.
                <button class="btn-link" data-toggle="modal" data-target="#track-modal" data-track="social">Leer m&aacute;s</button></p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="track-modal" class="modal fade modal-fixed" ng-controller="TracksCtl">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
              <div id="track_icon" class="center-block btn-round btn-social-lg track-icon btn-warning">
                <span class="{{track.icon_class}}"></span>
              </div>
              <h4>
                <small>Taller de aplicaciones de Python en:</small> <br/>
                <span id="track_field" class="text-uppercase">{{track.title_es}}</span> <br/>
                <small>Convocatoria a env&iacute;o de art&iacute;culos acad&eacute;micos</small>
              </h4>
              <div class="container-fluid">
                <div class="row">
                  <div id="track-desc" ng-include="track.file" markdown-it class="text-justify col-sm-offset-1 col-xs-12 col-sm-10 md"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <span class="pull-left">
                &larr;
                <button type="button" class="btn btn-link" ng-click="move(6)">
                  VER TALLER <br class="visible-xs"/> ANTERIOR
                </button>
              </span>
              <span>
                <button type="button" class="btn btn-link" ng-click="move(1)">
                  VER TALLER <br class="visible-xs"/> SIGUIENTE
                </button>
                &rarr;
              </span>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div> <!-- /container -->

    <footer class="footer text-center">
      <div class="container">
        <div class="btn-group btn-group-lg">
          <a href="https://facebook.com/scipyla" type="button" class="btn btn-primary btn-social btn-round">
            <span class="icon-6"></span>
          </a>
          <a href="http://twitter.com/scipyla" type="button" class="btn btn-primary btn-social btn-round">
            <span class="icon-7"></span>
          </a>
          <a href="https://plus.google.com/116952396338000992599" type="button" class="btn btn-primary btn-social btn-round">
            <span class="icon-8"></span>
          </a>
          <a href="https://ar.linkedin.com/grps/SciPy-Latin-America-8344796/about" type="button" class="btn btn-primary btn-social btn-round">
            <span class="icon-9"></span>
          </a>  
        </div>
        <p>Copyright 2017 &copy; <a href="http://scipyla.org">SciPy Latinamerica</a></p>

      </div>
    </footer>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/markdown-it/6.0.0/markdown-it.min.js"></script>
    <script src="../assets/js/ng-markdownit.min.js"></script>
    <script src="../assets/js/tracks.js"></script>

  </body>
</html>

