      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="{{hprefix}}assets/img/scipyla.nav.svg" height="48" class="hidden-xs" />
            <img src="{{hprefix}}assets/img/scipyla.nav.xs.svg" height="60" class="visible-xs" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{hprefix}}#about">Acerca de SciPyLA</a></li>
                <li><a href="{{hprefix}}#venue">Sede</a></li>
                <li><a href="{{hprefix}}#org">Organizaci&oacute;n</a></li>
                <li><a href="{{hprefix}}#timeline">Actividades por año</a></li>
                <li><a href="{{hprefix}}#gallery">Galer&iacute;a</a></li>
                <li><a href="{{hprefix}}#traction">Audiencia</a></li>
                <li><a href="{{hprefix}}#signup">Reservar tickets</a></li>
                <li><a href="{{hprefix}}#contact">Contacto</a></li>
              </ul>
            </li>
            <li class="dropdow">
              <a href="{{hprefix}}#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Programa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{hprefix}}register">Reservar tickets</a></li>
                <li><a href="{{hprefix}}schedule">Agenda de actividades</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Talleres</li>
                <li><a href="{{hprefix}}tracks/bio">Bioinform&aacute;tica</a></li>
                <li><a href="{{hprefix}}tracks/physics">F&iacute;sica</a></li>
                <li><a href="{{hprefix}}tracks/elect">Ingenier&iacute;a Électrica y Automatizaci&oacute;n</a></li>
                <li><a href="{{hprefix}}tracks/econ">Econom&iacute;a e Investigaci&oacute;n de Operaciones</a></li>
                <li><a href="{{hprefix}}tracks/tech">Tecnolog&iacute;as de c&oacute;mputo emergentes</a></li>
                <li><a href="{{hprefix}}tracks/earth">Ciencias de la Tierra</a></li>
                <li><a href="{{hprefix}}tracks/social">Ciencias Sociales y Humanidades</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{hprefix}}forms/reviewers">Llamado a revisores acad&eacute;micos</a>
                <li><a href="{{hprefix}}forms/poster">Env&iacute;o de posters</a></li>
                <li><a href="{{hprefix}}forms/activity">Propuestas de charlas</a></li>
              </ul>
            </li>
            <li class="dropdownn active">
              <a href="{{hprefix}}#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Comunidad <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{hprefix}}organizers">Organizadores</a></li>
                <li><a href="{{hprefix}}sponsors">Patrocinadores</a></li>
                <li><a href="{{hprefix}}sponsors/prospectus">Prospecto de patrocinio</a></li>
                <li><a href="{{hprefix}}sponsors/levels">Niveles de patrocinio</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{hprefix}}ambassadors">Embajadores</a></li>
                <li>
                  <a href="{{hprefix}}forms/ambassadors">
                    Llamado a embajadores
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="{{hprefix}}community">Amigos de SciPyLA 2017</a></li>
                <li>
                  <a href="{{hprefix}}forms/community">
                    Anuncia tu comunidad
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="{{hprefix}}#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Participa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{hprefix}}register">Reservar tickets</a></li>
                <li><a href="{{hprefix}}forms/financial-aid">Ayuda financiera</a></li><li><a href="{{hprefix}}faq/financial-aid">Preguntas - Ayuda financiera</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{hprefix}}forms/reviewers">Llamado a revisores acad&eacute;micos</a></li>
                <li><a href="{{hprefix}}forms/poster">Env&iacute;o de posters</a></li>
                <li><a href="{{hprefix}}forms/activity">Propuestas de charlas</a></li>
                <li><a href="{{hprefix}}forms/activity">Propuestas de meetups</a></li>
                <li><a href="{{hprefix}}forms/activity">Proyectos para sprints</a></li>
                <li><a href="{{hprefix}}forms/activity">Propuestas de talleres</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{hprefix}}diversity">Diversidad</a></li>
                <li><a href="{{hprefix}}coc">C&oacute;digo de Conducta</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="{{hprefix}}#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sede <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{hprefix}}venue">Informaci&oacute;n de la sede</a></li>
                <li><a href="{{hprefix}}venue/hosting">Hospedaje</a></li>
                <li><a href="{{hprefix}}venue/city">Ciudad</a></li>
                <li><a href="{{hprefix}}venue/visa">VISA</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
