/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Badges and labels */

.label.label-round {
  border-radius: 50%;
}

.badge.badge-square {
  border-radius: 2px;
  padding: 1px 0 1px 1px
}


.jumbotron-blue .badge, .jumbotron-blue .label {
  color: #15355B;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

#jumbo-main {
  background-image: url('assets/img/jumbobg.jpg');
  background-repeat: no-repeat;
  height: 730px;
}

#jumbo-venue {
  background-image: url('assets/img/havana-bg.png');
  background-repeat: no-repeat;
}

.container .jumbotron {
  border-radius: 0px;
  padding-top: 80px;
}

.jumbotron-dark, .jumbotron-blue {
  color: #FFFFFF !important;
  position: relative;
}

.jumbotron {
  text-align: center;
}

.jumbotron .btn-group .btn.btn-default {
  border: none;
  font-size: 14px;
  margin-right: 15px
}

.jumbotron-blue .container {
  background-color: #15355B;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.jumbotron-blue {
  background-color: #0D2946;
  padding: 0 0 10px 0 !important;
}

#nav-bottom {
  color: #cccccc;
}

#nav-bottom:hover {
  color: #ffffff;
}

#jumbo-main-actions .btn {
  text-transform: uppercase;
}

#jumbo-main .btn-group .btn:hover {
  color: #ffd438;
}

.jumbotron .btn.btn-default {
  background-color: transparent;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Design elements */

.sbgu {
  background-image: url('assets/img/sbgu.png');
  background-position: 120px 0;
  background-repeat: no-repeat;
}

.sbgl {
  background-image: url('assets/img/sbgl.png');
  background-repeat: no-repeat;
  bottom: 0;
  height: 114px;
  left: 0;
  position: absolute;
  width: 110px;
}

.sbgr {
  background-image: url('assets/img/sbgr.png');
  background-repeat: no-repeat;
  bottom: 0;
  height: 262px;
  position: absolute;
  right: 0;
  width: 258px;
}

/* Buttons */

.btn-round {
  border-radius: 50% !important;
  height: 34px;
  margin: 5px;
  padding: 0 !important;
  position: relative;
  width: 34px;
}

.btn-round [class^="icon-"] {
  font-size: 26px;
  left: 0;
  position: absolute;
  right: 0;
  top: 4px;
}

.btn-xs.btn-social .badge-square {
  position: relative;
  height: 13px;
  width: 13px;
}

.btn-xs.btn-social [class^="icon-"] {
  position: absolute;
  left: -4px;
  font-size: 20px;
  top: -4px;
}

/* Layout */

#planets-container {
  position: relative;
}

#planets-text {
  bottom: 10%;
  left:0;
  position: absolute;
  right: 0;
}

/* Footer */

.footer {
  height: 290px;
  background-image: url(assets/img/havana360-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

