/* Space at the top for the navbar */

body {
  padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Badges and labels */

.label.label-round {
  border-radius: 50%;
}

.badge.badge-square {
  border-radius: 2px;
  padding: 1px 0 1px 1px
}


.jumbotron-blue .badge, .jumbotron-blue .label {
  color: #15355B;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Customize container */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

#jumbo-main {
  background-image: url('../img/jumbobg.jpg');
  background-repeat: no-repeat;
  height: 730px;
}

#venue {
  background-image: url('../img/havana-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container .jumbotron {
  border-radius: 0px;
  padding-top: 80px;
}

.jumbotron-dark, .jumbotron-blue {
  color: #FFFFFF !important;
  position: relative;
}

.jumbotron {
  text-align: center;
}

.jumbotron .btn-group .btn.btn-default {
  border: none;
  font-size: 14px;
  margin-right: 15px
}

.jumbotron-blue .container {
  background-color: #15355B;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  margin-bottom: 15px;
  padding: 15px;
}

#timeline {
  background-image: url('../img/dotsbg.png');
  background-repeat: repeat;
}

.jumbotron-blue {
  background-color: #0D2946;
  padding: 0 0 10px 0 !important;
}

.jumbotron-dark {
  background-color: #091727;
}

#signup {
  padding: 0 0 10px 0 !important;
}

#nav-bottom {
  color: #cccccc;
}

#nav-bottom:hover {
  border: 1px solid #fff;
  color: #fff;
}

#jumbo-main-actions .btn {
  text-transform: uppercase;
}

#jumbo-main .btn-group .btn:hover {
  color: #ffd438;
}

.jumbotron .btn.btn-default {
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
  color: #FFFFFF;
  font-size: 21px;
  text-shadow: 0 0px 0 transparent;
}

/* Patterns - Overlays */

.overlay-target {
  display: inline-block;
  position: relative;
}

.overlay-target-block {
  display: block;
  position: relative;
}

.overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.overlay.bg-grey,
.overlay.bg-dark,
.overlay.bg-primary,
.overlay.bg-success,
.overlay.bg-info,
.overlay.bg-warning
.overlay.bg-danger {
  opacity: 0.8;
  filter: ~"alpha(opacity=70)";
}

/* Patterns - Visible on hover */

.visible-hover {
  display: none;
}

.hover:hover .visible-hover {
  display: block;
}

/* Conf timeline */

.timeline-scale {
  padding: 0px;
}

.timeline-scale hr {
  margin: 0.68em 10% 0 10%;
  padding: 0;
}

.timeline-bullet {
  font-weight: bolder;
  font-size: 20px;
  line-height: 1.0em;
}

/* Gallery */

#gallery .overlay {
  background-image: url(../img/eye-open.svg);
  background-size: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Design elements */

.sbgu {
  background-image: url('../img/sbgu.png');
  background-position: 120px 0;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  #timeline .img-responsive {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .sbgu {
    background-position: 40px 0;
  }

  #timeline .img-responsive {
    height: 80px;
  }
}

.sbgl {
  background-image: url('../img/sbgl.png');
  background-repeat: no-repeat;
  bottom: 0;
  height: 114px;
  left: 0;
  position: absolute;
  width: 110px;
}

.sbgr {
  background-image: url('../img/sbgr.png');
  background-repeat: no-repeat;
  bottom: 0;
  height: 262px;
  position: absolute;
  right: 0;
  width: 258px;
}

#analytics .well-xs {
  margin: 0px 6px;
}

#fb p.lead {
  margin: 15px 0 0 0;
}

#fb .lead {
  color: #364785;
}

#analytics .btn-social {
  background-image: none;
}

#fb .btn-social, #fb .btn-social:hover, #fb .btn-social:focus {
  background-color: #364785;
}

.force-inline {
  display: inline !important;
}

.legend > div {
  padding: 0px;
}

.legend-level {
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  white-space: nowrap;
  vertical-align: middle;
  width: 18px;
}

.legend-level-1 {
  background-color: #aea620;
}

.legend-level-2 {
  background-color: #6c9f6e;
}

.legend-level-3 {
  background-color: #22bad7;
}

.legend-level-4 {
  background-color: #1a6084;
}

.legend-level-5 {
  background-color: #112848;
}

/* Buttons */

.btn-round {
  border-radius: 50% !important;
  padding: 0 !important;
  position: relative;
}

.btn-group .btn-social.btn-round {
  margin: 5px;
}

.btn-social.btn-round {
  height: 34px;
  width: 34px;
}

.btn-social-lg.btn-round {
  height: 90px;
  width: 90px;
}

.btn-round [class^="icon-"] {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.btn-social.btn-round [class^="icon-"] {
  font-size: 26px;
  top: 4px;
}

.btn-social-lg.btn-round [class^="icon-"] {
  font-size: 60px;
  top: 15px;
}

.btn-xs.btn-social .badge-square {
  position: relative;
  height: 13px;
  width: 13px;
}

.btn-xs.btn-social [class^="icon-"] {
  position: absolute;
  left: -4px;
  font-size: 20px;
  top: -4px;
}

.btn-warning:hover, .btn-warning:focus,
.btn-info:hover, .btn-info:focus {
  background: #14365b;
  border: 1px solid #14365b;
  color: #fff;
}

/* Layout */

#planets-img {
  position: relative;
  width: 100%
}

#planets {
  bottom: 0;
  left:0;
  position: absolute;
  right: 0;
  top: 15%;
}

#planets .img-responsive {
  width: 75%;
}

.block-align-parent {
  position: relative;
}

.block-align-right {
  position: absolute;
  right: 0;
}

/* Remove ewhen theme is ready */
.track-icon {
  color: #14365B;
}

/* Footer */

.footer {
  height: 290px;
  background-image: url(../img/havana360-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.navbar-brand {
  margin-right: 50px;
}

.navbar-brand img {
  height: 48px;
  margin-top: -12px;
}

#timeline .col-xs-1 {
  padding: 0;
}

.bg-grey {
  background-color: #f5f5f5;
}

.bg-dark {
  background-color: #091727;
}

.marketing-box {
  background-color: #fff;
  margin: 50px 25px 0 25px;
  padding: 55px 25px 25px 25px;
  position: relative;
}

/* Marketing pattern */

.marketing-box .marketing-icon {
  display: block;
  height: 90px;
  left: 0;
  margin-top: -45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.marketing-box .marketing-icon img {
  height: 90px;
  width: 90px;
}

/* Divider in agenda */

#agenda hr {
  margin: 5px;
}

/* Navs */

.nav-pills {
  line-height: 0.7em;
}

.nav-pills > li {
  background-color: #ffd43b;
  border-right: 2px solid #fff;
}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
  color: #14365b;
  font-weight: 600;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: #edbd2b;
}

